<li class="nav-item">
    <a href="{% url 'GestionRH:index_book' %}" class="nav-link {% if active_page == 'index_book' %}active{% endif %}">
        <i class="nav-icon fas fa-book"></i>
        <p>
            Livres
        </p>
    </a>
</li>

<li class="nav-item">
    <a href="{% url 'GestionRH:index_author' %}" class="nav-link {% if active_page == 'index_author' %}active{% endif %}">
        <i class="nav-icon fas fa-user-edit"></i>
        <p>
            Auteurs
        </p>
    </a>
</li>
