{% extends 'layout/base.html' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}

<div class="col-md-6 mx-auto">
    {% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h6><i class="icon fas fa-check"></i> Alert!</h6>
            <p>{{ message }}</p>
        </div>
        {% elif 'error' in message.tags %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h6><i class="icon fas fa-ban"></i> Alert!</h6>
            <p>{{ message }}</p>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>
<div class="col-md-6 mx-auto">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Changer le mot de passe</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_old_password">{{ form.old_password.label }}</label>
                    {{ form.old_password }}
                </div>
                <div class="form-group">
                    <label for="id_new_password">{{ form.new_password.label }}</label>
                    {{ form.new_password }}
                </div>
                <div class="form-group">
                    <label for="id_confirm_password">{{ form.confirm_password.label }}</label>
                    {{ form.confirm_password }}
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}