<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de votre inscription</title>
</head>
<body>
    <p>Bonjour {{ username }},</p>
    <p>Votre compte a été créé. Voici votre mot de passe temporaire : {{password}}</p>
    <p>Veuillez vous connecter et changer votre mot de passe dans la page de profil.</p>
    
    <p>Cordialement,</p>
    <p>UPC Bibliotheque</p>
</body>
</html>
